<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.api.dao.ActivityMapsMapper">
  <resultMap id="BaseResultMap" type="com.aml.api.pojo.ActivityMaps">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="original_activity" jdbcType="VARCHAR" property="originalActivity" />
    <result column="job_id" jdbcType="VARCHAR" property="jobId" />
    <result column="prime_code" jdbcType="VARCHAR" property="primeCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="last_modify_date" jdbcType="TIMESTAMP" property="lastModifyDate" />
    <result column="last_modify_oper" jdbcType="VARCHAR" property="lastModifyOper" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    [id], [original_activity], [job_id], [prime_code], [created_by], [last_modify_date], 
    [last_modify_oper], [is_deleted]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [activity_maps]
    where [id] = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from [activity_maps]
    where [id] = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aml.api.pojo.ActivityMaps" keyProperty="id" useGeneratedKeys="true">
    <!-- <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey> -->
    insert into [activity_maps] ([original_activity], [job_id], [prime_code], 
      [created_by], [last_modify_date], [last_modify_oper], 
      [is_deleted])
    values (#{originalActivity,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, #{primeCode,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{lastModifyDate,jdbcType=TIMESTAMP}, #{lastModifyOper,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aml.api.pojo.ActivityMaps" keyProperty="id" useGeneratedKeys="true">
    <!-- <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey> -->
    insert into [activity_maps]
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="originalActivity != null">
        [original_activity],
      </if>
      <if test="jobId != null">
        [job_id],
      </if>
      <if test="primeCode != null">
        [prime_code],
      </if>
      <if test="createdBy != null">
        [created_by],
      </if>
      <if test="lastModifyDate != null">
        [last_modify_date],
      </if>
      <if test="lastModifyOper != null">
        [last_modify_oper],
      </if>
      <if test="isDeleted != null">
        [is_deleted],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="originalActivity != null">
        #{originalActivity,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="primeCode != null">
        #{primeCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null">
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyOper != null">
        #{lastModifyOper,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aml.api.pojo.ActivityMaps">
    update [activity_maps]
    <set>
      <if test="originalActivity != null">
        [original_activity] = #{originalActivity,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        [job_id] = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="primeCode != null">
        [prime_code] = #{primeCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        [created_by] = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null">
        [last_modify_date] = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyOper != null">
        [last_modify_oper] = #{lastModifyOper,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        [is_deleted] = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where [id] = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aml.api.pojo.ActivityMaps">
    update [activity_maps]
    set [original_activity] = #{originalActivity,jdbcType=VARCHAR},
      [job_id] = #{jobId,jdbcType=VARCHAR},
      [prime_code] = #{primeCode,jdbcType=VARCHAR},
      [created_by] = #{createdBy,jdbcType=VARCHAR},
      [last_modify_date] = #{lastModifyDate,jdbcType=TIMESTAMP},
      [last_modify_oper] = #{lastModifyOper,jdbcType=VARCHAR},
      [is_deleted] = #{isDeleted,jdbcType=INTEGER}
    where [id] = #{id,jdbcType=INTEGER}
  </update>
  <!-- Paging query -->
  <select id="getActivityMapsList" resultMap="BaseResultMap" parameterType="com.aml.api.dto.ActivityMapsDto">
  	select 
    <include refid="Base_Column_List" />
    from [activity_maps]
    where [is_deleted] = 0
    order by [id] ASC
  </select>
  
  <!-- export -->
  <select id="downActivityMapsExcel" resultType="java.util.Map">
  	select 
    <include refid="Base_Column_List" />
    from [activity_maps]
    where [is_deleted] = 0
    	<if test="param != null">
        	and [id] in (#{param})
      	</if>
    order by [id] ASC
  </select>
</mapper>