<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.api.dao.CloseReasonMapper">
  <resultMap id="BaseResultMap" type="com.aml.api.pojo.CloseReason">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="object_type" jdbcType="VARCHAR" property="objectType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_operation" jdbcType="VARCHAR" property="createOperation" />
    <result column="date_of_careation" jdbcType="VARCHAR" property="dateOfCareation" />
    <result column="modified_operation" jdbcType="VARCHAR" property="modifiedOperation" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    [id], [code], [object_type], [name], [create_operation], [date_of_careation], [modified_operation], 
    [is_deleted]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [close_reason]
    where [id] = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from [close_reason]
    where [id] = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aml.api.pojo.CloseReason" keyProperty="id" useGeneratedKeys="true" >
    insert into [close_reason] ([code], [object_type], [name], 
      [create_operation], [date_of_careation], [modified_operation], 
      [is_deleted])
    values (#{code,jdbcType=VARCHAR}, #{objectType,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createOperation,jdbcType=VARCHAR}, #{dateOfCareation,jdbcType=VARCHAR}, #{modifiedOperation,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aml.api.pojo.CloseReason" keyProperty="id" useGeneratedKeys="true" >
    insert into [close_reason]
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        [code],
      </if>
      <if test="objectType != null">
        [object_type],
      </if>
      <if test="name != null">
        [name],
      </if>
      <if test="createOperation != null">
        [create_operation],
      </if>
      <if test="dateOfCareation != null">
        [date_of_careation],
      </if>
      <if test="modifiedOperation != null">
        [modified_operation],
      </if>
      <if test="isDeleted != null">
        [is_deleted],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null">
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createOperation != null">
        #{createOperation,jdbcType=VARCHAR},
      </if>
      <if test="dateOfCareation != null">
        #{dateOfCareation,jdbcType=VARCHAR},
      </if>
      <if test="modifiedOperation != null">
        #{modifiedOperation,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aml.api.pojo.CloseReason">
    update [close_reason]
    <set>
      <if test="code != null">
        [code] = #{code,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null">
        [object_type] = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        [name] = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createOperation != null">
        [create_operation] = #{createOperation,jdbcType=VARCHAR},
      </if>
      <if test="dateOfCareation != null">
        [date_of_careation] = #{dateOfCareation,jdbcType=VARCHAR},
      </if>
      <if test="modifiedOperation != null">
        [modified_operation] = #{modifiedOperation,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        [is_deleted] = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where [id] = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aml.api.pojo.CloseReason">
    update [close_reason]
    set [code] = #{code,jdbcType=VARCHAR},
      [object_type] = #{objectType,jdbcType=VARCHAR},
      [name] = #{name,jdbcType=VARCHAR},
      [create_operation] = #{createOperation,jdbcType=VARCHAR},
      [date_of_careation] = #{dateOfCareation,jdbcType=VARCHAR},
      [modified_operation] = #{modifiedOperation,jdbcType=VARCHAR},
      [is_deleted] = #{isDeleted,jdbcType=INTEGER}
    where [id] = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- Query all records, list Pagination -->
  <select id="getCloseReasonList" parameterType="com.aml.api.dto.CloseReasonDto" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [close_reason]
    where [is_deleted] = 0
    order by [id] ASC
  </select>
  <!-- export -->
  <select id="downCloseReasonExcel" resultType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from [close_reason]
    where [is_deleted] = 0
    	<if test="param != null">
        	and [id] in (#{param})
      	</if>
    order by [id] ASC
  </select>
  
  <!-- 校验code是否存在 -->
  <select id="getCloseReasonCountByCode" resultType="int">
    select 
    	count(0)
    from [close_reason]
    where [is_deleted] = 0
    	and [code] = #{code}
  </select>
</mapper>