<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.api.dao.CtrReportMapper">
  <resultMap id="BaseResultMap" type="com.aml.api.pojo.CtrReport">
    <id column="cid" jdbcType="BIGINT" property="cid" />
    <result column="filing_name" jdbcType="VARCHAR" property="filingName" />
    <result column="filing_type" jdbcType="TINYINT" property="filingType" />
    <result column="filing_indentifier" jdbcType="VARCHAR" property="filingIndentifier" />
    <result column="ctr_id" jdbcType="BIGINT" property="ctrId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    [cid], [filing_name], [filing_type], [filing_indentifier], [ctr_id], [create_time], 
    [update_time], [is_deleted]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [ctr_report]
    where [cid] = #{cid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from [ctr_report]
    where [cid] = #{cid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aml.api.pojo.CtrReport">
    <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Long">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into [ctr_report] ([filing_name], [filing_type], [filing_indentifier], 
      [ctr_id], [create_time], [update_time], 
      [is_deleted])
    values (#{filingName,jdbcType=VARCHAR}, #{filingType,jdbcType=TINYINT}, #{filingIndentifier,jdbcType=VARCHAR}, 
      #{ctrId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aml.api.pojo.CtrReport">
    <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Long">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into [ctr_report]
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filingName != null">
        [filing_name],
      </if>
      <if test="filingType != null">
        [filing_type],
      </if>
      <if test="filingIndentifier != null">
        [filing_indentifier],
      </if>
      <if test="ctrId != null">
        [ctr_id],
      </if>
      <if test="createTime != null">
        [create_time],
      </if>
      <if test="updateTime != null">
        [update_time],
      </if>
      <if test="isDeleted != null">
        [is_deleted],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filingName != null">
        #{filingName,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null">
        #{filingType,jdbcType=TINYINT},
      </if>
      <if test="filingIndentifier != null">
        #{filingIndentifier,jdbcType=VARCHAR},
      </if>
      <if test="ctrId != null">
        #{ctrId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aml.api.pojo.CtrReport">
    update [ctr_report]
    <set>
      <if test="filingName != null">
        [filing_name] = #{filingName,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null">
        [filing_type] = #{filingType,jdbcType=TINYINT},
      </if>
      <if test="filingIndentifier != null">
        [filing_indentifier] = #{filingIndentifier,jdbcType=VARCHAR},
      </if>
      <if test="ctrId != null">
        [ctr_id] = #{ctrId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        [create_time] = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        [update_time] = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        [is_deleted] = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where [cid] = #{cid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aml.api.pojo.CtrReport">
    update [ctr_report]
    set [filing_name] = #{filingName,jdbcType=VARCHAR},
      [filing_type] = #{filingType,jdbcType=TINYINT},
      [filing_indentifier] = #{filingIndentifier,jdbcType=VARCHAR},
      [ctr_id] = #{ctrId,jdbcType=BIGINT},
      [create_time] = #{createTime,jdbcType=TIMESTAMP},
      [update_time] = #{updateTime,jdbcType=TIMESTAMP},
      [is_deleted] = #{isDeleted,jdbcType=TINYINT}
    where [cid] = #{cid,jdbcType=BIGINT}
  </update>
  
  <insert id="insertSelectiveDto" parameterType="com.aml.api.dto.CtrReportDto" keyProperty="cid" useGeneratedKeys="true" >
    insert into [ctr_report]
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filingName != null">
        [filing_name],
      </if>
      <if test="filingType != null">
        [filing_type],
      </if>
      <if test="filingIndentifier != null">
        [filing_indentifier],
      </if>
      <if test="ctrId != null">
        [ctr_id],
      </if>
      <if test="createTime != null">
        [create_time],
      </if>
      <if test="updateTime != null">
        [update_time],
      </if>
      <if test="isDeleted != null">
        [is_deleted],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filingName != null">
        #{filingName,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null">
        #{filingType,jdbcType=TINYINT},
      </if>
      <if test="filingIndentifier != null">
        #{filingIndentifier,jdbcType=VARCHAR},
      </if>
      <if test="ctrId != null">
        #{ctrId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  <!-- query -->
  <select id="selectByPrimaryKeyDto" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [ctr_report]
    where [ctr_id] = #{ctrId,jdbcType=BIGINT}
  </select>
  
  <update id="updateByPrimaryKeySelectiveDto" parameterType="com.aml.api.dto.CtrReportDto">
    update [ctr_report]
    <set>
      <if test="filingName != null">
        [filing_name] = #{filingName,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null">
        [filing_type] = #{filingType,jdbcType=TINYINT},
      </if>
      <if test="filingIndentifier != null">
        [filing_indentifier] = #{filingIndentifier,jdbcType=VARCHAR},
      </if>
      <if test="ctrId != null">
        [ctr_id] = #{ctrId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        [create_time] = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        [update_time] = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where [cid] = #{cid,jdbcType=BIGINT}
  </update>
</mapper>