<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aml.api.dao.JobsMapper">
  <resultMap id="BaseResultMap" type="com.aml.api.pojo.Jobs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="precess" jdbcType="VARCHAR" property="precess" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    [id], [code], [name], [precess], [is_deleted]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [jobs]
    where [id] = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from [jobs]
    where [id] = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aml.api.pojo.Jobs" keyProperty="id" useGeneratedKeys="true" >
    insert into [jobs] ([code], [name], [precess], 
      [is_deleted])
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{precess,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aml.api.pojo.Jobs" keyProperty="id" useGeneratedKeys="true" >
    insert into [jobs]
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        [code],
      </if>
      <if test="name != null">
        [name],
      </if>
      <if test="precess != null">
        [precess],
      </if>
      <if test="isDeleted != null">
        [is_deleted],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="precess != null">
        #{precess,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aml.api.pojo.Jobs">
    update [jobs]
    <set>
      <if test="code != null">
        [code] = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        [name] = #{name,jdbcType=VARCHAR},
      </if>
      <if test="precess != null">
        [precess] = #{precess,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        [is_deleted] = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where [id] = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aml.api.pojo.Jobs">
    update [jobs]
    set [code] = #{code,jdbcType=VARCHAR},
      [name] = #{name,jdbcType=VARCHAR},
      [precess] = #{precess,jdbcType=VARCHAR},
      [is_deleted] = #{isDeleted,jdbcType=INTEGER}
    where [id] = #{id,jdbcType=INTEGER}
  </update>
  <!-- Query all records, list Pagination -->
  <select id="getJobsList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from [jobs]
    where [is_deleted] = 0
    order by [id]
  </select>
  <!-- export -->
  <select id="downJobsExcel" resultType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from [jobs]
    where [is_deleted] = 0
    	<if test="param != null">
        	and [id] in (#{param})
      	</if>
    order by [id]
  </select>
  
  <select id="getJobsCountByCode" resultType="int">
    select 
    	count(0)
    from [jobs]
    where [is_deleted] = 0
    	and [code] = #{code}
  </select>
</mapper>